<html lang="es">
<head>
</head>
<body>
<br>
<br>
<center><h1>Eventos</h1></center>
<h2>Registra aquí tus eventos</h2>
<br>
<br>
<div class="container">
  <form action="/Evento/crearEvento" method="post">
    <div class="form-group row">
      <label for="nombreEvento" class="col-4 col-form-label">Nombre:</label>
      <div class="col-10">
        <input type="text" class="form-control"  id="nombreEvento" name="nombreEvento" placeholder="Nombre de Evento">
      </div>
    </div>

    <div class="form-group row">
      <label for="fechaEvento" class="col-4 col-form-label">Fecha:</label>
      <div class="col-10">
        <input class="form-control" type="date" placeholder="2018-02-19"
        name="fechaEvento"
               id="fechaEvento">
      </div>
    </div>

    <div class="form-group row">
      <label for="horaInicio" class="col-4 col-form-label">Hora de Inicio:</label>
      <div class="col-10">
        <input class="form-control" type="time"
               name="horaInicio"
               id="horaInicio" placeholder="12:60:00">
      </div>
    </div>

    <div class="form-group row">
      <label for="horaFin" class="col-4 col-form-label">Hora de Finalización:</label>
      <div class="col-10">
        <input class="form-control" type="time"
               name="horaFin"
               id="horaFin" placeholder="12:60:00">
      </div>
    </div>

    <div class="form-group row">
      <label for="detalleEvento" class="col-4 col-form-label">Detalle :</label>
      <div class="col-10">
        <input class="form-control" type="text"
               name="detalleEvento"
               id="detalleEvento" placeholder="Detalle del Evento">
      </div>
    </div>

    <div class="form-group row">
      <label for="nombreLugar" class="col-4 col-form-label">Nombre Lugar:</label>
      <div class="col-10">
        <input class="form-control" type="text"
               name="nombreLugar"
               id="nombreLugar" placeholder="Nombre del Lugar">
      </div>
    </div>

    <div class="form-group row">
      <label for="precio" class="col-4 col-form-label">Precio de Entradas:</label>
      <div class="col-10">
        <input class="form-control" type="text"
               name="precio"
               id="precio"placeholder="5">
      </div>
    </div>

    <div class="form-group row">
      <label for="fkIdCategoria" class="col-4 col-form-label">Seleccione el número de una categoría: (3. Deporte / 4. Musica / 5. Cultura) </label>
      <div class="col-10">
        <input class="form-control" type="number"
               name="fkIdCategoria"
               id="fkIdCategoria" placeholder="3" min="3" max="5">
      </div>
    </div>

    <div class="form-group row">
      <label for="fkIdOrganizador" class="col-4 col-form-label">Seleccione un organizador (1. FiestasUIO / 2. GlobalShows / 3. EPN / 4. CONMEBOL):</label>
      <div class="col-10">
        <input class="form-control" type="number"
               name="fkIdOrganizador"
               id="fkIdOrganizador" placeholder="1" min="1" max="4">
      </div>
    </div>

    <div class="form-group row">
      <label for="fkIdTipoEvento" class="col-4 col-form-label">Tipo de Evento (1. Pago / 2. Gratis):</label>
      <div class="col-10">
        <input class="form-control" type="number"
               name="fkIdTipoEvento"
               id="fkIdTipoEvento" placeholder="Tipo de Evento" min="1" max="2">
      </div>
    </div>

    <div class="form-group row">
      <label for="direccion" class="col-4 col-form-label">Direccion:</label>
      <div class="col-10">
        <input class="form-control" type="text"
               name="direccion"
               id="direccion" placeholder="Direccion del Evento">
      </div>
    </div>

    <div class="form-group row">
      <label for="latitud" class="col-4 col-form-label">Latitud:</label>
      <div class="col-10">
        <input class="form-control" type="text"
               name="latitud"
               id="latitud" placeholder="1° 27’ 06’’ N">
      </div>
    </div>

    <div class="form-group row">
      <label for="longitud" class="col-4 col-form-label">Longitud:</label>
      <div class="col-10">
        <input class="form-control" type="text"
               name="longitud"
               id="longitud" placeholder="5° 00’ 56’’ E">
      </div>
    </div>

    <div class="form-group row">
      <label for="imagenEvento" class="col-4 col-form-label">URL Imagen Evento:</label>
      <div class="col-10">
        <input class="form-control" type="text"
               name="imagenEvento"
               id="imagenEvento" placeholder="https://www.paginaWeb.com">
      </div>
    </div>


    <button
      class="btn btn-outline-success">Crear</button>

  </form>
</div>
</body>

